h1{
    color: blueviolet;
}
body{
    /* background-color: tomato; */
    background-image: url(bg3.png);
    background-size: cover;
}
td{
    color: white;
    font-size: 22px;  
    height: 20px; 
    padding: 10px;
    margin-bottom: 0px;
}
.t1{
    max-width: 120%;
    text-align: center;
    padding: 40px;
    margin: 0px;
    
}
center{
    color: rgba(255, 255, 255, 0.504);
    font-size: 25px;
}
.resume{
    font-size: 35px;
}